.navbar-items div {
    position: absolute;
    top: 50px;
    cursor: pointer;
    width: 84px;
    height: 31px;
    display: inline-block ;
    font-weight: 500;

}

.navbar-items div.accueill {
    left: 501px;

}

.navbar-items div.projets {
    left: 791px;


}

.navbar-items div.contact {
    left: 931px;


}

.navbar-items div.alya {
    left: 663px;


}

.search-icon {
    position: absolute;
    top: 34px;
    left: 1170px;
    width: 39px;
    height: 44px;
}
/* General Styles */
body {
    margin: 0;
    line-height: normal;
    font-family: 'Kode Mono', sans-serif;
}
.alya {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #000;
}
.alya-e-portfolio-removebg-prev-icon {
    top: 21px;
    left: 68px;
    width: 176px;
    height: 160px;
}
.alya-en-4 {
    position: absolute;
    top: 100px;
    left: 451px;
    font-size: 64px;
    display: inline-block;
    width: 720px;
    height: 104px;
}
.a-1-icon {
    position: absolute;
    top: 200px;
    left: 161px;
    border-radius: 50px;
    width: 278px;
    height: 354px;
    object-fit: cover;
}
.a-1-icon1 {
    position: absolute;
    top: 200px;
    left: 1214px;
    border-radius: 50px;
    width: 278px;
    height: 354px;
    object-fit: cover;
}
.l-1-icon {
    position: absolute;
    top: 200px;
    left: 538px;
    border-radius: 50px;
    width: 265.6px;
    height: 354px;
    object-fit: cover;
}
.y-1-icon {
    position: absolute;
    top: 200px;
    left: 876px;
    border-radius: 50px;
    width: 265.6px;
    height: 354px;
    object-fit: cover;
}
.do-u-matching {
    position: absolute;
    top: 1093px;
    left: 355px;
    font-size: 64px;
    display: inline-block;
    width: 1031px;
    height: 104px;
}
.alya-child {
    position: absolute;
    top: 1431px;
    left: 582px;
    border-radius: 100px;
    background-color: #ff97bb;
    width: 335px;
    height: 174px;
}
.quizz {
    position: absolute;
    top: 1481px;
    left: 619px;
    font-size: 64px;
}
.alya {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1940px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #000;
    font-family: 'Kode Mono';
}

.card-back {
    position:absolute;
    width: 265.6px;
    height: 354px;
   visibility: hidden;
    backface-visibility: hidden;


}

.a-1-icon-back {position: absolute; top: 50px; left: 500px;
    width: 500px;
    height: 500px;

}
.a-1-icon1-back {position: absolute; top: 50px; left: 500px;
    width: 500px;
    height: 500px;  }

.y-1-icon-back,.l-1-icon-back { position: absolute; top: 50px; left: 500px;
    width: 500px;
    height: 500px; }
.link:visited{
    color: black;


}
.link{
    color: black;
    text-decoration:none;
}